In [1]:
# Import Dependencies
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

# files to load
hawaii_measure_load = "Resources/data/hawaii_measurements.csv"
hawaii_station_load = "Resources/data/hawaii_stations.csv"

# read files
measure_data = pd.read_csv(hawaii_measure_load)
station_data = pd.read_csv(hawaii_station_load)

# combine the files
station_measure_data = pd.merge(station_data, measure_data, how= 'left', on=['station', 'station'])

# display the files
station_measure_data.head()

,station,name,latitude,longitude,elevation,location,date,prcp,tobs
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-01,0.08,65
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-02,0.00,63
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-03,0.00,74
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-04,0.00,76
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-06,NaN,73

In [2]:
# Change NaNs to 0.0
station_measure_data = station_measure_data.replace(np.nan, 0)
# verify NaNs to 0.0
station_measure_data.head()

,station,name,latitude,longitude,elevation,location,date,prcp,tobs
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-01,0.08,65
1,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-02,0.00,63
2,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-03,0.00,74
3,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-04,0.00,76
4,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0,POINT(21.2716 -157.8168),2010-01-06,0.00,73

In [4]:
# export cleaned csv file
station_measure_data.to_csv('Resources/data/clean_station_measure_data.csv', index = False, header = True)